.mrv {
  & .reasonPicker {
    display: flex;
    flex-direction: column;
    min-width: 0rem;
    width: 100%;
    height: 100%;
    gap: 2rem;

    & .navCluster {
      display: flex;
      flex-direction: row;
      min-width: 0rem;
      width: 100%;
      gap: 0rem;
    }

    & .chipCluster {
      display: flex;
      flex-direction: column;
      min-width: 0rem;
      width: 100%;
      gap: 2rem;
    }

    & .chipCtnr {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      min-width: 0rem;
    }

    & .inputCluster {
        display: flex;
        flex-direction: row;
        min-width: 0rem;
        width: 100%;
        gap: 2rem;
    }
  }
}
