.mrv {
  & .reasonPicker {
    display: flex;
    flex-direction: column;
    min-width: 0rem;

    & .tabCtnr {
      display: flex;
      flex-direction: row;
      min-width: 0rem;
      gap: 0rem;
    }

    & .chipCtnr {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      min-width: 0rem;
    }
  }
}
