.mrv {
  & .newItems {
    /* horizontal padding for consistency*/
    --outerPadding: 1rem;
    --innerPadding: 1rem;
    --bothPadding: calc(var(--outerPadding) + var(--innerPadding));

    & .cols {
      display: flex;
      flex-direction: row;
      gap: 0rem;

      & .col {
        /*common values for columns*/
        display: flex;
        gap: 0rem;
      }

      & .itemCol {
        display: flex;
        flex: 20 20 0rem;
        background-color: lightgreen;
      }

      & .tileInfoCol {
        display: flex;
        flex: 30 30 0rem;
        background-color: lightblue;
        flex-direction: column;
        gap: 0rem;

        & .rtrnCol {
          flex: 10 10 0rem;
          background-color: coral;
        }
        & .qtyCol {
          flex: 10 10 0rem;
          background-color: bisque;
        }
        & .iconCol {
          flex: 5 5 0rem;
          background-color: aqua;
        }
      }

      & .deleteCol {
        flex: 5 5 0rem;
        background-color: lightcoral;
      }
    }

    & .tile {
      display: flex;
      flex-direction: row;
      padding: 0.5rem var(--innerPadding);
    }

    & .columnTitleRow {
      padding: 0rem var(--bothPadding);
    }
  }
}
