.mrv3 {
  & .message-ribbon {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0 0 auto;
    padding: 0.5rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    gap: 0.5rem;

    & .color-bar {
      flex: 0 0 0.25rem;
      border-radius: 0.125rem;
    }

    & p {
      text-align: start;
    }
  }
}
