.mrv3 {
  & .productInfo {
    & .description {
      display: -webkit-box; /* Enables the flexbox-like behavior needed for line clamping */
      -webkit-box-orient: vertical; /* Specifies the orientation of the box (vertical for text) */
      overflow: hidden; /* Hides the overflowing text */
      text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate truncated text */

      /* Classes to limit lines of description text */
      &.line1 {
        -webkit-line-clamp: 1;
      }
      &.line2 {
        -webkit-line-clamp: 2;
      }
    }

    &.s {
    }
    &.m {
    }
    &.l {
    }
  }
}
