.mrv3 {
  & .productInfo {
    &.s {
    }
    &.m {
    }
    &.l {
      & .prodImg {
        flex: 0 0 12rem;
        height: 8rem;
        background-color: aqua;
        & img {
          height: 100%;
        }
      }
    }
  }
}
