
.mrv3 {

    & .breadcrumbBar{

        & .crumbBtn{
            color: green;
            height: 2rem;
            background-color: transparent;
            padding: 0rem;
            border: none;

            & .inactive{
                color: red;
            }
            & .active{
                color: green;
            }
        }
    }
}