.mrv3 {
  & .breadcrumbBar {
    & .crumbBtn {
      color: var(--color__interactive);
      height: 2rem;
      background-color: transparent;
      padding: 0rem;
      border: none;

      &.inactive {
        color: var(--color__tertiary);
      }

      &.active {
        background-color: var(--color__container__selected);
      }
    }
  }
}
