.mrv{
    & .baseCard{
        display: flex;
        flex-direction: column;
        min-width: 0rem;
        width: 100%;
        height: 100%;
        gap: 1rem;
        padding: 1rem;

        & .cardBody{
            display: flex;
            flex-direction: column;
            min-width: 0rem;
            width: 100%;
            gap: 2rem;

            & .cardContenCol{
                display: flex;
                flex-direction: column;
                min-width: 0rem;
                width: 100%;
                gap: 2rem;
            }

            & .rColCtnr{
                display: flex;
                flex-direction: row;
                min-width: 0rem;
                width: 100%;
                gap: 2rem;
            }
        }
    }
}