.mrv3.cwex {
  & .sidesheetIndex {
    & .receiptInput {
      & .storeNum {
        flex: 1 1 0rem;
      }
      & .date {
        flex: 0 0 12rem;
      }
    }

    & .itemInput {
      & .itemQty {
        flex: 0 0 5rem;
      }
    }
  }
}
